/* FOOTER (Copied design) */
.footer {
  background: var(--dark);
  color: var(--gray-300);
  padding: 1rem;
}

.footer-top {
  text-align: center;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 8rem;
}
.footer-logo { 
  width: 120px;
}
.footer-title {
  font-family: "Playfair Display";
  color: white;
  margin-top: 1rem;
}

.social-links {
  margin-top: .8rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.social-links a {
  width: 38px; height: 38px;
  background: #1e293b;
  border-radius: 50%;
  display: flex; justify-content: center; align-items: center;
}

.social-links a img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

/* Grid */
.footer-grid {
  margin-top: 1rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.links { list-style: none; }
.links a { color: var(--gray-400); text-decoration: none; }

.newsletter input, .newsletter button {
  padding: .7rem 1rem;
  border-radius: 6px;
  border: none;
}
.newsletter button { background: var(--primary); color: white; 
}