@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:wght@400;700&display=swap');

:root {
  --primary: #243978;
  --gray: #6b7280;
  --dark: #0f172a;
}

/* MAIN GRID LAYOUT */
.home-layout {
  max-width: 1350px;
  margin: 2rem auto;
  padding: 0 1.5rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}


/* LEFT SIDE NEWS */
.left-news {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.side-title {
  font-family: "Playfair Display";
  font-size: 1.7rem;
  margin-bottom: .6rem;
}

.side-card {
  display: flex;
  gap: 12px;
  text-decoration: none;
  color: black;
}

.side-card img {
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 8px;
}

.side-card .date {
  font-size: .85rem;
  color: var(--gray);
}


/* MAIN HEADLINE */
.main-headline-section img {
  width: 100%;
  height: 380px;
  border-radius: 12px;
  object-fit: cover;
}

.main-headline {
  display: flex;
  flex-direction: column;
}

.main-headline .date {
  color: var(--gray);
}

.main-headline h2 {
  font-family: "Playfair Display";
  font-size: 2rem;
  margin: .5rem 0;
}

.main-headline p {
  color: var(--gray);
  font-size: 1rem;
}


/* EVENTS SECTION */
.events-section {
  padding: 3rem 2rem;
  margin-top: 3rem;
  background: #f7f9fc;
}

.events-title {
  font-size: 2rem;
  font-family: "Playfair Display";
  margin-bottom: 1.5rem;
}

.events-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(240px, 1fr));
  gap: 3rem;
   margin-top: 2rem;
}

.event-card {
  background: #fff;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 3px 12px rgba(0,0,0,.06);
  transition: .2s ease;
}

.event-card:hover {
  transform: translateY(-4px);
}

.event-card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 8px;
}

.event-card h3 {
  margin: .6rem 0;
  font-size: 1.05rem;
}


/* RESPONSIVE */
@media (max-width: 900px) {
  .home-layout {
    grid-template-columns: 1fr;
  }
}